@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerRegular.woff2') format('woff2'),
		url('../fonts/MullerRegular.woff') format('woff');
	font-display: swap;
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerLight.woff2') format('woff2'),
		url('../fonts/MullerLight.woff') format('woff');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerBold.woff2') format('woff2'),
		url('../fonts/MullerBold.woff') format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerMedium.woff2') format('woff2'),
		url('../fonts/MullerMedium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

/* Common styles */

html {
  background-color: #f1f1f1;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

textarea {
  resize: none; /* Запрещаем изменять размер */
  padding: 10px 0px 10px 0px
 } 

 .contaner {
  max-width: 1170px;
  margin: auto;
}

.standart_text_bold {
  color: #cc9933;
  font-family: 'Muller';
  font-weight: 200;
}

.standeart_text {
  font-size: 16px;
  font-family: 'Muller';
  font-weight: 200;
  line-height: 2;
}

.header_2 {
  margin-left: 40px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Muller';
  font-weight: 200;
  font-size: 40px;
}

.header_1 {
  color: white;
  font-family: 'Muller';
  font-weight: bold;
  font-size: 66px;
  margin: 0;
  line-height: 1;
}

/* Effects */
.--reference {
  transition: color .3s ease;
}

.--reference:hover,
.--reference:focus-within {
  color: #cc9933;
  stroke: none;
} 

button {
  cursor: pointer;
}

.--active_button {
  transition-property: color, background-color, border;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.--active_button:hover,
.--active_button:focus-within {
  color: #cc9933;
  background-color:transparent;
  border: 1px solid#cc9933;
}


.--passive_button {
  transition-property: color, background-color, border;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.--passive_button:hover,
.--passive_button:focus-within {
  color: white;
  background-color: #cc9933;
  border: 2px solid transparent;
}

input:focus {
  color: black;
}

textarea:focus {
  color:black;
}

/* Header top */

.header_top_sector {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
}

.header_top_left_block {
  /* margin-right: auto; */
  margin-right: 20px;
}

/* .header_top_middle_block {
  font-size: 23px;
} */

.header_top_right_block {
 margin-left: auto;
 font-size: 16px;
}

.header_bottom_right_block {
  background-color: #f1f1f1;
  padding: 0px 15px 0px 15px;
  border-radius: 12px;

}

.search_form {
  min-width: 370px;
  min-height: 50px;
  border: none;
  background-color: #f1f1f1;
  color: #bebebe;
}

.search_button {
  background-image: url(../img/search.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  border: none;
  transform: translateY(-2px);
}

.header_bottom_sector {
  display: flex;
  background-color:#ffffff;
  border-radius: 12px;
}

.header_top_middle_block_tel {
  color: #6f6f6f;
  font-size: 23px;
  font-family: 'Muller';
  font-weight: bold;
}

/* Header bottom */

.header_bottom_sector {
  display: flex;
  padding: 15px 15px 15px 15px;
  align-items: center;
}

.header_bottom_left_block {
  margin-right: auto;
}

.header_nav_list {
  display: flex;
}

.header_nav_item_ref {
  color: black;
  font-size: 16px;
  font-family: 'Muller';
  font-weight: 200;
}

.header_nav_list_item:not(:last-child) {
  margin-right: 40px;
}

/* Fast order */

.fast_order {
  margin-top: 65px;
  align-items: stretch;
}

.order {
  margin-right: auto;
  /* flex: 1 1 50%; */
}

.special_offer {
  /* flex: 1 1 50%; */
}

.fast_order_list {
  display: flex;
  flex-direction: column;
}

.fast_order_item {
  flex-basis: 100%;
}

.fast_order_item:not(:first-child) {
  margin-top: 22px;
}

.fast_order_item_board {
  background-color: white;
  padding: 0px 25px 0px 25px;
  border-radius: 12px;
}

.input_form {
  min-width: 100%;
  min-height: 60px;
  border: none;
  animation-iteration-count: none;
  color: #bebebe;
}

.fast_order_but {
  margin-top: 22px;
  display: inline-block;
  font-family: 'Muller';
  font-weight: bold;
}

.button {
  background-color: #cc9933;
  color: white;
  border: 1px solid#cc9933;
  border-radius: 12px;
  padding: 20px 25px 20px 25px;
  margin-right: 30px;
}

.special_offer_info {
  background-image: url(../img/special_order.jpg);
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: 100% 100%;
  min-height: 75%;
  border-radius: 12px;
  /* background-size: contain; */
}

.special_offer_info_content {
  padding-top: 35%;
  padding-left: 45px;
  padding-right: 10px;
  max-width: 50%;
}

.special_offer_info_detail {
  display: flex;
  min-width: 200%;
  padding-bottom: 35px;
  padding-top: 35px;
  align-items: center;
}

.special_offer_text_price {
  color: #898684;
  font-size: 35px;
  font-family: 'Muller';
  font-weight: 200;
  display: inline-block;
  margin-right: 48px;
}

.special_offer_text {
  display: inline-block;
}

.arrow {
  margin-left: 10px;
  transform: translateY(3px);
}

/* About us */

.about_us {
  margin-top: 65px;
}

.container_2 {
  margin-left: 40px;
}

/* services */

.services {
  margin-top: 60px;
}

.services_list {
  /* display: flex; */
  /* align-items: stretch; */
  /* flex-wrap: wrap; */
  /* justify-content: left; */
  justify-content: center;
}

.services_item {
  /* flex: 1 1 48%; */
  background-color: white;
  border-radius: 12px;
  /* max-width: 50%; */
  margin: 0px 0px 20px 0px;
}

/* .services_item:not(:nth-child(2n)) {
 margin-right: 25px;
} */

.services_item_img {
  border-radius: 12px;
}

.services_item_descr {
  padding-left: 40px;
  padding-top: 25px;
  padding-bottom: 40px;
  max-width: 420px;
}

.services_item_descr_text {
  line-height: 2;
  font-size: 16px;
  /* min-width: 90%; */
}

/* benefits */

.benefits {
  margin-top: 65px;
}

.benefits_list {
  /* display: flex; */
  /* align-items: stretch; */
  /* flex-wrap: wrap; */
  /* justify-content: left; */
}

.benefits_item {
  /* flex: 1 1 23%; */
  background-color: white;
  border-radius: 12px;
  /* max-width: 23%; */
  margin: 0px 0px 30px 0px;
  padding: 40px 40px 40px 40px;
}

/* .benefits_item:not(:nth-child(4n)) {
  margin-right: 30px;
 } */

 /* hotel_section */

 .hotel_section {
   margin-top: 60px;
 }

 .hotel_section_list{
  /* display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: left; */
 }

 .hotel_section_item {
  /* flex: 1 1 31.5%; */
  background-color: white;
  border-radius: 12px;
  /* max-width: 31.5%; */
  margin: 0px 0px 30px 0px;
  display: flex;
  flex-direction:column;
 }

 /* .hotel_section_item:not(:nth-child(3n)) {
  margin-right: 32px;
 } */

 .hotel_section_item_descr {
   display: flex;
 }

 .hotel_section_item_descr_left {
   padding: 0px 40px 40px 40px;
 }

.hotel_section_btn {
  color:#cc9933 ;
  border-radius: 12px;
  border: 2px solid#cc9933;
  padding: 10px 20px 10px 20px;
  /* margin-top: 40px; */
}

.hotel_section_item_descr_star {
  display: inline-block;
  margin-left: 35px;
}

.start_and_price {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.hotel_section_item_descr_left_text {
  margin-right: auto;
}

.location_of_hotel {
  display: block;
  margin-bottom: 40px;
  color:#898684;
}

.hotel_sevtion_item_img_more {
  background-image: url(../img/9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  background-size: 100% 100%;
  min-height: 100%;
  border-radius: 12px;
  /* Делаем весь блок ссылкой */
  position: relative;
}

.hotel_sevtion_item_ref_more {
  align-items: center;
  display: block;
  color: white;
  font-size: 22px;
  padding-top: 90%;
  padding-left: 15%;
  padding-right: 10%;
  padding-bottom: 14%;
}

.hotel_sevtion_item_ref_more:before {
  content: "";
  position: absolute;
  /* Растягиваем ссылку на весь блок */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.arrow_white {
  margin-left: none;
}

/*Contact write us*/

.contact {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Muller';
  font-weight: 200;
  line-height: 24px;
}

.contact_contact {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 50px 50px 50px 50px;
  min-width: 470px;
}

.contact_item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.contact_item:not(:last-child) {
  margin-bottom: 20px;
  border-bottom: 1px grey solid;
  padding-bottom: 55px;
}

.contact_item:last-child{
 padding-top: 25px;
}

.contact_item_main {
  min-width: 120px;
  margin-right: 30px;
  font-family: 'Muller';
  font-weight: bold;
  font-size: 22px;
}

.contact_item_info {
  max-width: 230px;
}

.contact_section_btn {
  min-width: 50%;
  padding: 25px 30px 25px 30px;
}

.not_header_2 {
  padding-left: 0px;
  margin-left: 0px;
}

.contact_write_us {
  margin-right: 180px;
}

.contact_us_btn {
  min-width: 100%;
}

/*Footer*/

.footer_container {
  display: flex;
  background-color: #333333;
  border-radius: 12px;
  padding-top: 45px;
  padding-bottom: 35px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  justify-content: space-between;
  align-items: flex-start;
  background-image: url(../img/sun.png);
  background-repeat: no-repeat;
  background-size: 258px 228px;
  background-position: bottom;
  background-position-x: 730px;
  margin-bottom: 70px;
  margin-top: 35px;
}

.policy_text {
  flex: 1 1 33.33%;
  font-family: 'Muller';
  font-weight: 200;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #ffffff;
  max-width: 310px;
}

.footer_contact {
  flex: 1 1 33.33%;
  font-family: 'Muller';
  font-weight: 200;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #ffffff;
  max-width: 360px;
}

.social_network_label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.network_label:not(:last-child) {
  padding-bottom: 25px;
}